/* -------------------------------------------------------------------------- */
/* Css: v3.2 - Z-Endless-Dreams - 14/07/2016 --_-Jose Andre Fernandes Sabino--*/
/* -------------------------------------------------------------------------- */
@media all and (min-width: 1024px){
/* -------------------------------------------------------------------------- */
/* Ajustes GT */
.gt-displayOn{display: block;}
.gt-displayOff{display: none;}

.gt-max-hgt{max-height: 1000px; opacity: 1!important;}
body{overflow-y: visible!important;}
}
/* -------------------------------------------------------------------------- */
@media all and (max-width: 1023px){
    
#especialidades .box4{text-align: left;}
#especialidades .box4:nth-child(2n){text-align: right;}

body.blocked{
    overflow: hidden;
}
/* -------------------------------------------------------------------------- */
/* Ajustes MD */
.md-max-w100{max-width: 100%!important;}
.md-w100{width: 100%!important;}
.md-w80{width: 80%!important;}
.md-w50{width: 50%!important;}
.md-w33{width: 33%!important;}
.md-w25{width: 25%!important;}

.md-pdg0{padding: 0;}

.md-max-hgt{max-height: 1000px; opacity: 1!important;}

.md-displayOn{display: block;}
.md-displayOff{display: none;}
.md-dInlineB{display: inline-block!important;}
.md-floatOff{float: none!important;}

.md-tCenter{text-align: center!important;}

.md-pRelative{position: relative!important;}

.md-mgnAuto{margin: auto!important;}

/* -------------------------------------------------------------------------- */
/* Tabela */
.tb-head{font-size: 1.2rem!important;}

.tb-view .tb-line{
    width: 100%;
    padding: 0 180px 0 0;
    clear: both;
    position: relative;
}
.tb-line-img{
    padding: 0 60px 0 120px!important;
    min-height: 90px;
}
.tb-view .tb-line:nth-child(2){border-radius: 3px 3px 0 0;}

.tb-view .tb-line .tb-col-child{position: relative;border-radius: 3px;} 

.tb-view div.tb-col-child{padding: 2px!important; } 
.tb-view .tb-col{width: 100%; padding: 4px; text-align: left;}

.tb-view .tb-link{
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    height: 100%;
    width: 60px!important;
}
.tb-view .tb-link{right: 120px;}
.tb-view .tb-link + .tb-link{right: 60px;}
.tb-view .tb-link + .tb-link + .tb-link{right: 0px;}

/*
.tb-view .tb-link:nth-child(5){right: 0px;}
.tb-view .tb-link:nth-child(4){right: 60px;}
.tb-view .tb-link:nth-child(3){right: 120px;}
*/

.tb-view .tb-link .tb-col-child{height: 100%; min-height: 50px;border-radius: 3px;}

.tb-view .tb-img{
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 5px;
    height: 100%;
    width: 115px!important;
    display: -webkit-flex; 
    -webkit-align-items: center; 
    display: flex;
    align-items: center;
}
.tb-view .tb-title{display: inline-block;font-weight: bold; color: #003C58; font-size: 1.2rem;}
/* -------------------------------------------------------------------------- */
/* Ajuste exótico */
}